body {
    font-family: "Newsreader", serif;
    background-color: bisque;
  }
  
  .card-action-wrapper a {
    text-transform: none !important;
    margin: 0 !important;
    color: dodgerblue !important;
  }
  
  span {
    font-family: ui-serif;
  }
  
  h5,
  h6 {
    color: white;
    font-weight: bolder;
  }
  .nav {
    height: 80px;
    line-height: 100px;
  }
  
  .card-action {
    background: beige !important;
    font-weight: bolder;
    padding: 5px 2px !important;
  }
  
  .card-content {
    padding: 0px 24px !important;
  }
  
  .card-action-wrapper {
    margin: 7pt;
  }